@{
    ViewData["Title"] = "CRUD Demo";
}

<div class="row">
    <div class="col-12">
        <div class="h1" style="text-align: center; padding-top:100px">Customer CRUD Demo</div>
    </div>
</div>
<div class="row">
    <div class="col-12" style="height:1000px">
        <div id="jsGrid"></div>
    </div>
</div>

<script>
    var indexCount = 1;
    $(function() {

        $("#jsGrid").jsGrid({
            height: "50%",
            width: "100%",

            heading: true,
            selecting: true,

            inserting: true,
            editing: true,
            autoload: true,

            onItemInserting: function (args) {
                args.item.id = ++indexCount;
            },

            deleteConfirm: "Do you really want to delete customer?",

            controller: {
                loadData: function(filter) {
                    console.log('loading data');
                    return $.ajax({
                        type: "GET",
                        url: "/api/data/get",
                        data: filter,
                        dataType: "json"
                    }).done(function (response) {
                        console.log(response);
                        $.each(response, function (key, value) {
                            if (value.id > indexCount) {
                                indexCount = value.id;
                            }
                        });
                        return;
                    });
                },

                insertItem: function(item) {
                    console.log('insert item');
                    console.log(item);

                    fetch('/api/data/post', {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(item)
                    });

                    $('#jsGrid').jsGrid('option', 'inserting', false);
                },

                updateItem: function(item) {
                    console.log('update item');
                    console.log(item);

                    fetch('/api/data/put', {
                        method: 'PUT',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(item)
                    });
                },

                deleteItem: function(item) {
                    console.log('delete item');
                    console.log(item);

                    fetch('/api/data/delete', {
                        method: 'DELETE',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(item.id)
                    });
                }
            },

            fields: [
                { name: "id", title: "ID", type: "number", width: 0 },
                { name: "name", title: "Company Name", type: "text", width: 150 },
                { name: "address", title: "Address", type: "text", width: 150 },
                { type: "control" }
            ],
        });

        $("#jsGrid").jsGrid("fieldOption", "id", "visible", false);

    });
</script>