@{
    ViewData["Title"] = "Customer CRUD Demo";
}

<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="h1" style="padding-top:25px; text-align: center">Customer CRUD Demo</div>
        <p>
            This demo is designed to demonstrate CRUD operations for ficticious customer data. An open source Javascript grid control has been used to show the data.
            The data is persisted using serialised Json data stored as a text file on the local web server. There is a required validator on each field, and the Email address is also tested for validity.
            Feel free to alter the data as you wish.
        </p>
        <p style="padding-bottom: 50px">The sourcecode for this solution can be found in Github.com, <a href="https://github.com/baxterp/Demo.Customers.CRUD" target="_blank">here</a></p>
        <div class="col-1"></div>
    </div>
</div>
<div class="row">
    <div class="col-12" style="height:500px">
        <div id="jsGrid"></div>
    </div>
</div>

<script>
    var indexCount = 1;
    $(function() {

        $("#jsGrid").jsGrid({
            height: "50%",
            width: "100%",

            heading: true,
            selecting: true,

            inserting: true,
            editing: true,
            autoload: true,

            onItemInserting: function (args) {
                args.item.id = ++indexCount;
            },

            deleteConfirm: "Do you really want to delete customer?",

            controller: {
                loadData: function(filter) {
                    console.log('loading data');
                    return $.ajax({
                        type: "GET",
                        url: "/api/data/get",
                        data: filter,
                        dataType: "json"
                    }).done(function (response) {
                        console.log(response);
                        $.each(response, function (key, value) {
                            if (value.id > indexCount) {
                                indexCount = value.id;
                            }
                        });
                        return;
                    });
                },

                insertItem: function(item) {
                    console.log('insert item');
                    console.log(item);

                    fetch('/api/data/post', {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(item)
                    });

                    $('#jsGrid').jsGrid('option', 'inserting', false);
                },

                updateItem: function(item) {
                    console.log('update item');
                    console.log(item);

                    fetch('/api/data/put', {
                        method: 'PUT',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(item)
                    });
                },

                deleteItem: function(item) {
                    console.log('delete item');
                    console.log(item);

                    fetch('/api/data/delete', {
                        method: 'DELETE',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(item.id)
                    });
                }
            },

            fields: [
                { name: "id", title: "ID", type: "number", width: 0 },
                { name: "name", title: "Company Name", type: "text", 
                    validate: {
                        message: "Company name must be entered, and over 5 characters",
                        validator: function (value, item) {
                            console.log(item.name);
                            if (item.name.length < 5)
                                return false;
                            else
                                return true;
                        }
                    },
                    width: 150 },
                { name: "address", title: "Address", type: "text", 
                    validate: {
                        message: "Company address must be entered, and over 5 characters",
                        validator: function (value, item) {
                            if (item.address.length < 5)
                                return false;
                            else
                                return true;
                        }
                    },
                    width: 150
                },
                { name: "email", title: "Email Address", type: "text",
                    validate: { 
                        message: "Email address is not valid", 
                        validator: function (value, item) {
                            var isValidEmail = validateEmail(item.email);
                            return isValidEmail;
                        }
                    },
                    width: 150
                },
                { type: "control" }
            ],
        });

        $("#jsGrid").jsGrid("fieldOption", "id", "visible", false); // hide the Id column

    });
</script>